@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 0px;
  font-family: CaskaydiaMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
  padding: 1px;
}

window#waybar {
  background-color: #0b0c0e;
  color: rgb(247, 247, 247);
  border-top-right-radius: 5px;
}

#essentials {
  background-color: #111418;
  border-radius: 40px;
  margin: 5px;
}


#workspaces {
  background-color: #111418;
  border-radius: 40px;
}


#workspaces button {
  all: initial;
  padding: 6px 10px;
  margin: 5px;
  min-width: 8px;
  border-radius: 40px;
  transition: background-color 0.5s ease-in-out;
}

#workspaces button.active {
  background-color: #C2C1FF;
  border-radius: 40px;
  color: #2a2a60;
  padding: 6px 0;
  padding-right: 1px;
  transition: background-color 0.5s ease-in-out;
} 


#custom-weather,
#memory,
#custom-update,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#workspaces { 
  min-width: 0px;
  margin: 7.5px 5px;
}

#custom-omarchy {
  font-size: 28px;
  margin-right: 4px;
  margin-bottom: 2px;
  color: rgb(74, 142, 201);
}

#network {
  margin-left: 0px;
}
#battery {
  margin-bottom: 10px;
}

#clock {
  font-size: 20px;
}
#custom-omarchy {
  margin-top: 10px;
}

#pulseaudio {
  padding-right: 2px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 15px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-power {
  margin-bottom: 7px;
  margin-right: 4px;
  margin-top: 5px;
  color: rgb(62, 151, 228)
}

