@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 0px;
  font-family: CaskaydiaMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#workspaces {
  background-color: @foreground;
  border-radius: 20px;
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin:3 3 3px;
  min-width: 9px;

  background-color: @background;
  border-radius: 10px;
  padding: 03 5;
  transition: all 0.15s ease-in-out;

}
#workspaces button.active, #workspaces button:hover {
  background-color: @background;
  border-radius: 10px;
  padding: 15 0;
  transition: all 0.15s ease-in-out;
}
#workspaces button.empty {
  opacity: 0.5;
}

#custom-weather,
#memory,
#custom-update,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy,
#workspaces,
#tray-expander { 
  min-width: 0px;
  margin: 7.5 5px;
}

#custom-expand-icon {
  margin-right: -5px;
  padding: 1px;
}

#network {
  margin-left: 2px;
}
#memory {
  margin-left: 0px;
}
#tray {
  margin-right: 2px;
}
#battery {
  margin-bottom: 10px;
}
#backlight {
  margin-right: 3px;
}
#clock {
  font-size: 20px;
}
#custom-omarchy {
  margin-top: 10px;
}
tooltip {
  padding: 0px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 15px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
